<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.hist.crm.dao.ContactsMapper">
  <sql id="Base_Column_List">
    id, name, sex, birthday, departmentDuties, officeTelephone, homePhone, mobilePhone, 
    email, postCode, QQNumber, contactAddress, hobby, taboo, remark
  </sql>
  
  <insert id="addContact" parameterType="com.future.hist.crm.domain.Contacts">
  	insert into contacts (id, name, sex, 
      birthday, departmentDuties, officeTelephone, 
      homePhone, mobilePhone, email, 
      postCode, QQNumber, contactAddress, 
      hobby, taboo, remark
      )
    values (#{id}, #{name}, #{sex}, 
      #{birthday}, #{departmentDuties}, #{officeTelephone}, 
      #{homePhone}, #{mobilePhone}, #{email}, 
      #{postCode}, #{QQNumber}, #{contactAddress}, 
      #{hobby}, #{taboo}, #{remark}
      )
  </insert>
  
  <delete id="deleteContactById" parameterType="java.lang.Long">
  	delete from contacts
    where id = #{id}
  </delete>
  
  <delete id="deleteContactByName" parameterType="java.lang.String">
  	delete from contacts
  	where name = #{name}
  </delete>
  
  <update id="updateContact" parameterType="com.future.hist.crm.domain.Contacts">
  	 update contacts
    set name = #{name},
      sex = #{sex},
      birthday = #{birthday},
      departmentDuties = #{departmentDuties},
      officeTelephone = #{officeTelephone},
      homePhone = #{homePhone},
      mobilePhone = #{mobilePhone},
      email = #{email},
      postCode = #{postCode},
      QQNumber = #{QQNumber},
      contactAddress = #{contactAddress},
      hobby = #{hobby},
      taboo = #{taboo},
      remark = #{remark}
    where id = #{id}
  </update>
  
  <select id="getAllContacts" resultType="com.future.hist.crm.domain.Contacts">
  	select * from contacts
  </select>
  
  <select id="getAllContactsByNameasc" resultType="com.future.hist.crm.domain.Contacts">
  	select * from contacts order by convert(name using gbk)
  </select>
  
  <select id="getContactsCount" resultType="java.lang.Long">
  	select count(1) from contacts
  </select>
  
  <select id="getContactById" parameterType="java.lang.Long" resultType="com.future.hist.crm.domain.Contacts">
  	select 
    <include refid="Base_Column_List" />
    from contacts
    where id = #{id}
  </select>
  
  <select id="getContactByName" parameterType="java.lang.String" resultType="com.future.hist.crm.domain.Contacts">
  	select 
    <include refid="Base_Column_List" />
    from contacts
    where name = #{name}
  </select>
  
  <select id="getContactsByNameLike_" parameterType="java.lang.String" resultType="com.future.hist.crm.domain.Contacts">
  	select 
    <include refid="Base_Column_List" />
    from contacts
    	<where> 
		    <if test="#{_parameter} != null">
		         name LIKE CONCAT('%', #{name}, '%')
		    </if> 
		</where>	
  </select>
  
  
  
  <select id="getContactByDepartmentDuties" parameterType="java.lang.String" resultType="com.future.hist.crm.domain.Contacts">
  	select 
    <include refid="Base_Column_List" />
    from contacts
    where departmentDuties = #{departmentDuties}
  </select>
  
  
  <select id="getContactByQQ" parameterType="java.lang.String" resultType="com.future.hist.crm.domain.Contacts">
  	select 
    <include refid="Base_Column_List" />
    from contacts
    where QQNumber = #{QQNumber}
  </select>
</mapper>