<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.hist.crm.dao.CustomerMapper">
	<insert id="addCustomer" parameterType="com.future.hist.crm.domain.Customer">
		insert into customer (id, code, name,
		grade, contacts_id, regionName,  source,
		trade, scale, province,
		city, postCode, address,
		email, web, tel1, mobile,
		tel2, nextTouchDate, quality,
		remark, dealin, kind,
		artificialPerson, registeMoney, bank,
		account, taxCode, creator,
		createTime, updater, updateTime,
		ownerUser_id, dispensePerson, dispenseDate,
		shareFlag, shareIds)
		values (#{id}, #{code},
		#{name},
		#{grade},#{contacts.id}, #{regionName}, #{source},
		#{trade},  #{scale},
		#{province},
		#{city}, #{postCode}, #{address},
		#{email}, #{web},
		#{tel1}, #{mobile},
		#{tel2}, #{nextTouchDate},
		#{quality},
		#{remark}, #{dealin}, #{kind},
		#{artificialPerson},
		#{registeMoney}, #{bank},
		#{account}, #{taxCode},
		#{creator},
		#{createTime}, #{updater}, #{updateTime},
		#{user.id}, #{dispensePerson},
		#{dispenseDate},
		#{shareFlag}, #{shareIds})
	</insert>

	<delete id="deleteCustomerById" parameterType="java.lang.Long">
		delete from customer
		where id = #{id}
	</delete>

	<delete id="deleteCustomerByCode" parameterType="java.lang.String">
		delete from customer
		where code = #{code}
	</delete>

	<delete id="deleteCustomerByName" parameterType="java.lang.String">
		delete from customer
		where name = #{name}
	</delete>

	<update id="updateCustomer" parameterType="com.future.hist.crm.domain.Customer">
		update customer
		set code = #{code},
		name = #{name},
		grade = #{grade},
		contacts_id = #{contacts.id},
		regionName = #{regionName},
		source = #{source},
		trade = #{trade},
		scale = #{scale},
		province = #{province},
		city = #{city},
		postCode = #{postCode},
		address = #{address},
		email = #{email},
		web = #{web},
		tel1 = #{tel1},
		mobile = #{mobile},
		tel2 = #{tel2},
		nextTouchDate = #{nextTouchDate},
		quality = #{quality},
		remark = #{remark},
		dealin = #{dealin},
		kind = #{kind},
		artificialPerson = #{artificialPerson},
		registeMoney = #{registeMoney},
		bank = #{bank},
		account = #{account},
		taxCode = #{taxCode},
		creator = #{creator},
		createTime = #{createTime},
		updater = #{updater},
		updateTime = #{updateTime},
		ownerUser_id = #{user.id},
		dispensePerson = #{dispensePerson},
		dispenseDate = #{dispenseDate},
		shareFlag = #{shareFlag},
		shareIds = #{shareIds}
		where id = #{id}
	</update>

	<select id="getAllCustomer" resultMap="resultMap">
		select * from customer
	</select>
	
	<select id="getAllCustomerByasc" resultMap="resultMap">
		select * from customer order by id asc
	</select>
	
	<select id="getAllCustomerBydesc" resultMap="resultMap">
		select * from customer order by id desc
	</select>

	<select id="getCustomerCount" resultType="java.lang.Long">
		select count(1) from customer c where c.id is not null
	</select>

	<select id="getCustomerById" parameterType="java.lang.Long"
		resultMap="resultMap">
		select * from customer
		where id = #{id}
	</select>

	<select id="getCustomerByCode" parameterType="java.lang.String"
		resultMap="resultMap">
		select * from customer
		where code = #{code}
	</select>
	
	<select id="getCustomerByCodeLike_" parameterType="java.lang.String" 
		resultMap="resultMap">
		select * from customer
		  <where> 
		    <if test="#{_parameter} != null">
		         code like CONCAT('%', #{code}, '%')
		    </if> 
		  </where>
	</select>

	<select id="getCustomerByName" parameterType="java.lang.String"
		resultMap="resultMap">
		select * from customer
		where name = #{name}
	</select>
	
	<select id="getCustomerByNameLike_" parameterType="java.lang.String" 
		resultMap="resultMap">
		select * from customer
		  <where> 
		    <if test="#{_parameter} != null">
		         name LIKE CONCAT('%', #{name}, '%')
		    </if> 
		  </where>	
	</select>

	<select id="getCustomerByGrade" parameterType="java.lang.String"
		resultMap="resultMap">
		select * from customer
		where grade = #{grade}
	</select>
	
	<select id="getCustomerBySource" parameterType="java.lang.String" 
		resultMap="resultMap">
		select * from customer
		where source = #{source}
	</select>
	
	<select id="getCustomerByQuality" parameterType="java.lang.String"
		resultMap="resultMap">
		select * from customer
		where quality = #{quality}	
	</select>
	
	<select id="getCustomerByContacts" parameterType="Contacts" 
		resultMap="resultMap">
		select * from customer
		where contacts_id = #{id}	
	</select>
	
	<select id="getCustomerByUser" parameterType="com.future.hist.crm.domain.User"
		resultMap="resultMap">
		select * from customer
		where ownerUser_id = #{id}	
	</select>
	
	<select id="getCustomerByKind" parameterType="java.lang.String" 
		resultMap="resultMap">
		select * from customer
		where kind = #{kind}	
	</select>
	
	<select id="getCustomerByTouchDate" parameterType="java.util.Date"
		resultMap="resultMap">
		select * from customer
		where touchDate > #{touchDate}
	</select>
	
	<select id="getCustomerByIsTouched" parameterType="java.lang.Integer" resultMap="resultMap">
		select * from customer
		where isTouched =#{isTouched}
	</select>
	
	<resultMap type="com.future.hist.crm.domain.Customer" id="resultMap">
		<id column="id" property="id" />
		<result column="code"  property="code" />
		<result column="name"  property="name" />
		<result column="grade" property="grade" />
		<result column="regionName" property="regionName" />
		<result column="source" property="source" />
		<result column="trade" property="trade" />
		<result column="scale" property="scale" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="postCode" property="postCode" />
		<result column="address" property="address" />
		<result column="email" property="email" />
		<result column="web" property="web" />
		<result column="tel1" property="tel1" />
		<result column="mobile" property="mobile" />
		<result column="tel2" property="tel2" />
		<result column="nextTouchDate" property="nextTouchDate" />
		<result column="quality" property="quality" />
		<result column="remark" property="remark" />
		<result column="dealin" property="dealin" />
		<result column="kind" property="kind" />
		<result column="artificialPerson" property="artificialPerson" />
		<result column="registeMoney" property="registeMoney" />
		<result column="bank" property="bank" />
		<result column="account" property="account" />
		<result column="taxCode" property="taxCode" />
		<result column="creator" property="creator" />
		<result column="createTime" property="createTime" />
		<result column="updater" property="updater" />
		<result column="updateTime" property="updateTime" />
		<!-- <result column="ownerUser_id" property="user.id" /> -->
		<result column="dispensePerson" property="dispensePerson" />
		<result column="dispenseDate" property="dispenseDate" />
		<result column="shareFlag" property="shareFlag" />
		<result column="shareIds" property="shareIds" />
		<association property="contacts" column="contacts_id" select="getContacts"/>
		<association property="user" column="ownerUser_id" select="getUser" />
	</resultMap>
	
	<select id="getContacts" parameterType="java.lang.Long" resultType="com.future.hist.crm.domain.Contacts">
		select * from contacts where id = #{id}
	</select>
	
	<select id="getUser" parameterType="java.lang.Long" resultType="com.future.hist.crm.domain.User">
		select * from sysuser where id = #{id}
	</select>

</mapper>