<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.hist.crm.dao.Privilege_RoleMapper">
<!-- 添加权限 -->
	<!-- <insert id="save" parameterType="Privilege">
		INSERT INTO sysprivilege
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="parent != null">
				parent_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="description != null">
				#{description},
			</if>
			<if test="url != null">
				#{url},
			</if>
			<if test="parent.id != null">
				#{parent.id},
			</if>
		</trim>
	</insert> -->
	
	<!-- 根据Role查询权限 -->
	<select id="getPriIdsByRoleId" resultType="Long" parameterType="Long">
		select privilege_id from sysrole_privilege where role_id = #{roleId}
	</select>
	
</mapper>