<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.hist.crm.dao.SalesOrderMapper">

	<resultMap type="com.future.hist.crm.domain.SalesOrder" id="salesOrderMap">
		<id column="id" property="id" />
		<result column="saleNumber" property="saleNumber" />
		<result column="createTime" property="createTime" />
		<result column="deliveryAddress" property="deliveryAddress" />
		<result column="contactPhone"  property="contactPhone" />
		<result column="remark" property="remark" />
		<result column="commodityCount" property="commodityCount"/>

		<!-- 关联信息的映射 -->
		<association property="salesman" column="salesman_id" select="getSalesman" />
		<association property="customer" column="customer_id" select="getCustomer"/>
		<association property="contacts" column="contacts_id" select="getContacts"/>
		<association property="commodity" column="commodity_id" select="getCommodity"/>
	</resultMap>
	
	<select id="getSalesman" parameterType="java.lang.Long" resultType="com.future.hist.crm.domain.User">
		select * from sysuser where id = #{id}
	</select>
	
	<select id="getCustomer" parameterType="java.lang.Long" resultType="com.future.hist.crm.domain.Customer">
		select * from customer where id = #{id}
	</select>
	
	<select id="getContacts" parameterType="java.lang.Long" resultType="com.future.hist.crm.domain.Contacts">
		select * from contacts  where id = #{id}
	</select>
	
	<select id="getCommodity" parameterType="java.lang.Long" resultMap="findCommodity">
		select * from commodity where id = #{id}
	</select>
	
	<resultMap type="com.future.hist.crm.domain.Commodity" id="findCommodity">
		<id column="id" property="id" />
		<result column="commodityNumber" property="commodityNumber" />
		<result column="name" property="name" />
		<result column="bid" property="bid" />
		<result column="price"  property="price" />
		<result column="description" property="description" />
		<result column="commodityQuantity" property="commodityQuantity" />
		<result column="purchaseQuantity" property="purchaseQuantity" />
		<!-- 关联映射 -->
		<association property="commodityCategory" column="commodityCategory_id" select="getCategory"/>
	</resultMap>
	
	<select id="getCategory" parameterType="java.lang.Long" resultType="com.future.hist.crm.domain.CommodityCategory">
		select * from commoditycategory where id = #{id}
	</select>
	
	
	


	<!-- 查询所有销售记录 -->
	<select id="findOrdersList" resultMap="salesOrderMap">
		SELECT * FROM saleorder
	</select>

	<select id="findOrderById" parameterType="int" resultMap="salesOrderMap">
		SELECT * FROM saleorder s WHERE s.id=#{id}
	</select>
	

	<!-- 取得记录的总数 -->
	<select id="getOrdersCount" resultType="Integer">
		SELECT COUNT(*) FROM
		saleorder
	</select>
	
	<!-- 添加新订单 -->
	<insert id="addOrder" parameterType="com.future.hist.crm.domain.SalesOrder">
	INSERT INTO
	saleorder(saleNumber,createTime,contactPhone,deliveryAddress,remark,commodityCount,salesman_id,customer_id,contacts_id,commodity_id)
	VALUES(#{saleNumber},#{createTime},#{contactPhone},#{deliveryAddress},#{remark},#{commodityCount},#{salesman.id},#{customer.id},#{contacts.id},#{commodity.id})
	</insert>
	
	
	<!-- 删除订单 -->
	<delete id="deleteOrderById" parameterType="int">
		DELETE FROM saleorder WHERE id = #{id}
	</delete>
	
	<!-- 修改订单 -->
	<update id="editOrder" parameterType="com.future.hist.crm.domain.SalesOrder">
		
	</update>
	
</mapper>