<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.hist.crm.dao.UserMapper">
	<!-- 根据ID查询用户 -->

	<select id="getUserById" parameterType="long" resultMap="getUser">
		SELECT
		*
		FROM sysuser user
		WHERE user.id = #{id}
	</select>
	<resultMap id="getUser" type="User">
		<id column="id" property="id" />
		<result column="creator" property="creator" />
		<result column="createTime" property="createTime" />
		<result column="updater" property="updater" />
		<result column="updateTime" property="updateTime" />
		<result column="remark" property="remark" />
		<result column="name" property="name" />
		<result column="password" property="password" />
		<result column="address" property="address" />
		<result column="telephone" property="telephone" />
		<result column="email" property="email" />
		<result column="beginDate" property="beginDate" />
		<result column="endDate" property="endDate" />

		<result column="accessFileLevel" property="accessFileLevel" />
		<result column="status" property="status" />
		<result column="commendMan" property="commendMan" />
		<result column="moveTelephone" property="moveTelephone" />
		<result column="nowAddress" property="nowAddress" />
		<result column="nowTelephone" property="nowTelephone" />
		<result column="identityCode" property="identityCode" />
		<result column="insuranceCode" property="insuranceCode" />
		<result column="instancyLinkman" property="instancyLinkman" />
		<result column="instancyTelephone" property="instancyTelephone" />
		<result column="sex" property="sex" />
		<result column="birthday" property="birthday" />
		<result column="personnelType" property="personnelType" />
		<result column="duty" property="duty" />
		<result column="workDate" property="workDate" />
		<result column="highSchool" property="highSchool" />
		<result column="finishSchool" property="finishSchool" />
		<result column="finishSchoolDate" property="finishSchoolDate" />
		<result column="consortName" property="consortName" />
		<result column="youngoneName" property="youngoneName" />
		<result column="officeTelephone" property="officeTelephone" />
		<result column="consortTelephone" property="consortTelephone" />
		<result column="avocation" property="avocation" />
		<result column="consortCompany" property="consortCompany" />
		<result column="strongSuit" property="strongSuit" />
		<result column="communicate" property="communicate" />
		<result column="bringup" property="bringup" />
		<result column="organise" property="organise" />
		<result column="analyse" property="analyse" />
		<result column="planing" property="planing" />
		<result column="empolder" property="empolder" />
		<result column="relation" property="relation" />
		<association property="department" column="department_id"
			select="getDepartment"></association>
	</resultMap>

	<select id="getDepartment" parameterType="java.lang.Long"
		resultType="Department">
		select * from department where id = #{id}
	</select>
	<!-- 根据登录名查询用户 -->
	<select id="getUserByLoginName" resultType="User" parameterType="String">
		SELECT *
		FROM sysuser a
		WHERE a.loginname = #{loginname}
	</select>
	
	<!-- 根据用户名查询用户 -->
	<select id="getUserByName" parameterType="java.lang.String" resultType="com.future.hist.crm.domain.User">
		SELECT * 
		FROM sysuser a
		WHERE a.name = #{name}
	</select>
	
	<select id="getUserByNameLike_" parameterType="java.lang.String" resultType="com.future.hist.crm.domain.User">
		SELECT * 
		FROM sysuser a
		<where> 
		    <if test="#{_parameter} != null">
		         name LIKE CONCAT('%', #{name}, '%')
		    </if>
		</where>
	</select>

	<!-- 查询全部用户数目 -->
	<select id="getTotalCount" resultType="Integer">
		SELECT count(*)
		FROM
		sysuser
	</select>
	<!-- 查询全部用户 -->
	<select id="getAllUserByPage" parameterType="BaseSearch"
		resultMap="getUser">
		SELECT *
		FROM sysuser
	</select>

	<select id="getAllUser" resultType="User">
			select * from sysUser user where user.id is not null
	</select>
	<sql id="baseClass">
		id, creator, createTime, updater, updateTime, remark, name, password,
		address, telephone,
		email, beginDate, endDate, department_id, accessFileLevel, status,
		commendMan, moveTelephone,
		nowAddress, nowTelephone, identityCode, insuranceCode, instancyLinkMan,
		instancyTelephone,
		sex, birthday, personnelType, duty, workDate, highSchool, finishSchool,
		finishSchoolDate,
		consortName, youngoneName, officeTelephone, consortTelephone, avocation,
		consortCompany,
		strongSuit, communicate, bringup, organise, analyse, planing, empolder, relation
	</sql>

	<!-- 更新用户密码 -->
	<update id="updatePassword" parameterType="User">
		UPDATE sysuser SET
		password = #{password}
		WHERE id = #{id}
	</update>

	<!-- 通过ID删除用户 -->
	<delete id="deleteById" parameterType="long">
		DELETE FROM sysuser
		WHERE id = #{id}
	</delete>

	<!-- 通过Name删除用户 -->
	<delete id="deleteUserByName" parameterType="String">
		DELETE FROM sysuser
		WHERE name = #{name}
	</delete>

	<!-- 添加用户 -->
	<insert id="insert" parameterType="User">
		INSERT INTO sysuser
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="createTime != null">
				createTime,
			</if>
			<if test="updater != null">
				updater,
			</if>
			<if test="updateTime != null">
				updateTime,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="loginName != null">
				loginName,
			</if>
			<if test="salt != null">
				salt,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="telephone != null">
				telephone,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="beginDate != null">
				beginDate,
			</if>
			<if test="endDate != null">
				endDate,
			</if>
			<if test="department != null">
				department_id,
			</if>
			<if test="accessFileLevel != null">
				accessFileLevel,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="commendMan != null">
				commendMan,
			</if>
			<if test="moveTelephone != null">
				moveTelephone,
			</if>
			<if test="nowAddress != null">
				nowAddress,
			</if>
			<if test="identityCode != null">
				identityCode,
			</if>
			<if test="insuranceCode != null">
				insuranceCode,
			</if>
			<if test="instancyLinkman != null">
				instancyLinkman,
			</if>
			<if test="instancyTelephone != null">
				instancyTelephone,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
			<if test="personnelType != null">
				personnelType,
			</if>
			<if test="duty != null">
				duty,
			</if>
			<if test="workDate != null">
				workDate,
			</if>
			<if test="highSchool != null">
				highSchool,
			</if>
			<if test="finishSchool != null">
				finishSchool,
			</if>
			<if test="finishSchoolDate != null">
				finishSchoolDate,
			</if>
			<if test="consortName != null">
				consortName,
			</if>
			<if test="youngoneName != null">
				youngoneName,
			</if>
			<if test="officeTelephone != null">
				officeTelephone,
			</if>
			<if test="consortTelephone != null">
				consortTelephone,
			</if>
			<if test="avocation != null">
				avocation,
			</if>
			<if test="consortCompany != null">
				consortCompany,
			</if>
			<if test="strongSuit != null">
				strongSuit,
			</if>
			<if test="communicate != null">
				communicate,
			</if>
			<if test="bringup != null">
				bringup,
			</if>
			<if test="organise != null">
				organise,
			</if>
			<if test="analyse != null">
				analyse,
			</if>
			<if test="planing != null">
				planing,
			</if>
			<if test="empolder != null">
				empolder,
			</if>
			<if test="relation != null">
				relation,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="updater != null">
				#{updater,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="loginName != null">
				#{loginName},
			</if>
			<if test="salt != null">
				#{salt},
			</if>
			<if test="password != null">
				#{password},
			</if>
			<if test="address != null">
				#{address},
			</if>
			<if test="telephone != null">
				#{telephone},
			</if>
			<if test="email != null">
				#{email},
			</if>
			<if test="beginDate != null">
				#{beginDate},
			</if>
			<if test="endDate != null">
				#{endDate},
			</if>
			<if test="department.id != null">
				#{department.id},
			</if>
			<if test="accessFileLevel != null">
				#{accessFileLevel},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="commendMan != null">
				#{commendMan},
			</if>
			<if test="moveTelephone != null">
				#{moveTelephone},
			</if>
			<if test="nowAddress != null">
				#{nowAddress},
			</if>
			<if test="identityCode != null">
				#{identityCode},
			</if>
			<if test="insuranceCode != null">
				#{insuranceCode},
			</if>
			<if test="instancyLinkman != null">
				#{instancyLinkman},
			</if>
			<if test="instancyTelephone != null">
				#{instancyTelephone},
			</if>
			<if test="sex != null">
				#{sex},
			</if>
			<if test="birthday != null">
				#{birthday},
			</if>
			<if test="personnelType != null">
				#{personnelType},
			</if>
			<if test="duty != null">
				#{duty},
			</if>
			<if test="workDate != null">
				#{workDate},
			</if>
			<if test="highSchool != null">
				#{highSchool},
			</if>
			<if test="finishSchool != null">
				#{finishSchool},
			</if>
			<if test="finishSchoolDate != null">
				#{finishSchoolDate},
			</if>
			<if test="consortName != null">
				#{consortName},
			</if>
			<if test="youngoneName != null">
				#{youngoneName},
			</if>
			<if test="officeTelephone != null">
				#{officeTelephone},
			</if>
			<if test="consortTelephone != null">
				#{consortTelephone},
			</if>
			<if test="avocation != null">
				#{avocation},
			</if>
			<if test="consortCompany != null">
				#{consortCompany},
			</if>
			<if test="strongSuit != null">
				#{strongSuit},
			</if>
			<if test="communicate != null">
				#{communicate},
			</if>
			<if test="bringup != null">
				#{bringup},
			</if>
			<if test="organise != null">
				#{organise},
			</if>
			<if test="analyse != null">
				#{analyse},
			</if>
			<if test="planing != null">
				#{planing},
			</if>
			<if test="empolder != null">
				#{empolder},
			</if>
			<if test="relation != null">
				#{relation},
			</if>
		</trim>
	</insert>

	<!-- 更新用户信息 -->
	<update id="update" parameterType="User">
		UPDATE sysuser
		<set>
			<if test="creator != null">
				creator = #{creator},
			</if>
			<if test="createTime != null">
				createTime = #{createTime},
			</if>
			<if test="updater != null">
				updater = #{updater},
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="loginName != null">
				loginName = #{loginName},
			</if>
			<if test="password != null">
				password = #{password},
			</if>
			<if test="address != null">
				address = #{address},
			</if>
			<if test="telephone != null">
				telephone = #{telephone},
			</if>
			<if test="email != null">
				email = #{email},
			</if>
			<if test="beginDate != null">
				beginDate = #{beginDate},
			</if>
			<if test="endDate != null">
				endDate = #{endDate},
			</if>
			<if test="department != null">
				department_id = #{department.id},
			</if>
			<if test="accessFileLevel != null">
				accessFileLevel = #{accessFileLevel},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="commendMan != null">
				commendMan = #{commendMan},
			</if>
			<if test="moveTelephone != null">
				moveTelephone = #{moveTelephone},
			</if>
			<if test="nowAddress != null">
				nowAddress = #{nowAddress},
			</if>
			<if test="identityCode != null">
				identityCode = #{identityCode},
			</if>
			<if test="insuranceCode != null">
				insuranceCode = #{insuranceCode},
			</if>
			<if test="instancyLinkman != null">
				instancyLinkman = #{instancyLinkman},
			</if>
			<if test="instancyTelephone != null">
				instancyTelephone = #{instancyTelephone},
			</if>
			<if test="sex != null">
				sex = #{sex},
			</if>
			<if test="birthday != null">
				birthday = #{birthday},
			</if>
			<if test="personnelType != null">
				personnelType = #{personnelType},
			</if>
			<if test="duty != null">
				duty = #{duty},
			</if>
			<if test="workDate != null">
				workDate = #{workDate},
			</if>
			<if test="highSchool != null">
				highSchool = #{highSchool},
			</if>
			<if test="finishSchool != null">
				finishSchool = #{finishSchool},
			</if>
			<if test="finishSchoolDate != null">
				finishSchoolDate = #{finishSchoolDate},
			</if>
			<if test="consortName != null">
				consortName = #{consortName},
			</if>
			<if test="youngoneName != null">
				youngoneName = #{youngoneName},
			</if>
			<if test="officeTelephone != null">
				officeTelephone = #{officeTelephone},
			</if>
			<if test="consortTelephone != null">
				consortTelephone = #{consortTelephone},
			</if>
			<if test="avocation != null">
				avocation = #{avocation},
			</if>
			<if test="consortCompany != null">
				consortCompany = #{consortCompany},
			</if>
			<if test="strongSuit != null">
				strongSuit = #{strongSuit},
			</if>
			<if test="communicate != null">
				communicate = #{communicate},
			</if>
			<if test="bringup != null">
				bringup = #{bringup},
			</if>
			<if test="organise != null">
				organise = #{organise},
			</if>
			<if test="analyse != null">
				analyse = #{analyse},
			</if>
			<if test="planing != null">
				planing = #{planing},
			</if>
			<if test="empolder != null">
				empolder = #{empolder},
			</if>
			<if test="relation != null">
				relation = #{relation},
			</if>
		</set>
		<where>
			<if test="id != null">
				id = #{id}
			</if>
		</where>
	</update>

	<select id="getUserByLike" parameterType="User" resultMap="getUser">
		select * from sysuser
		<where>
			<if test="name != null">
				name LIKE CONCAT('%', #{name}, '%')
			</if>
			<if test="loginName != null">
				and loginName LIKE CONCAT('%', #{loginName}, '%')
			</if>
			<if test="creator != null">
				and creator like CONCAT('%', #{creator}, '%')
			</if>
			<if test="createTime != null">
				 and createTime LIKE CONCAT('%', #{createTime}, '%')
			</if>
			<if test="updater != null">
				and updater LIKE CONCAT('%', #{updater}, '%')
			</if>
			<if test="updateTime != null">
				and updateTime LIKE CONCAT('%', #{updateTime}, '%')
			</if>
			<if test="remark != null">
				and remark LIKE CONCAT('%', #{remark}, '%')
			</if>
			
			<if test="password != null">
				and password LIKE CONCAT('%', #{password}, '%')
			</if>
			<if test="address != null">
				and address LIKE CONCAT('%', #{address}, '%')
			</if>
			<if test="telephone != null">
				and telephone LIKE CONCAT('%', #{telephone}, '%')
			</if>
			<if test="email != null">
				and email LIKE CONCAT('%', #{email}, '%')
			</if>
			<if test="beginDate != null">
				and beginDate LIKE CONCAT('%', #{beginDate}, '%')
			</if>
			<if test="endDate != null">
				and endDate LIKE CONCAT('%', #{endDate}, '%')
			</if>
			<if test="department != null">
				and department_id LIKE CONCAT('%', #{department.id}, '%')
			</if>
			<if test="accessFileLevel != null">
				and accessFileLevel LIKE CONCAT('%', #{accessFileLevel}, '%')
			</if>
			<if test="status != null">
				and status LIKE CONCAT('%', #{status}, '%')
			</if>
			<if test="commendMan != null">
				and commendMan LIKE CONCAT('%', #{commendMan}, '%')
			</if>
			<if test="moveTelephone != null">
				and moveTelephone LIKE CONCAT('%', #{moveTelephone}, '%')
			</if>
			<if test="nowAddress != null">
				and nowAddress LIKE CONCAT('%', #{nowAddress}, '%')
			</if>
			<if test="identityCode != null">
				and identityCode LIKE CONCAT('%', #{identityCode}, '%')
			</if>
			<if test="insuranceCode != null">
				and insuranceCode LIKE CONCAT('%', #{insuranceCode}, '%')
			</if>
			<if test="instancyLinkman != null">
				and instancyLinkman LIKE CONCAT('%', #{instancyLinkman}, '%')
			</if>
			<if test="instancyTelephone != null">
				and instancyTelephone LIKE CONCAT('%', #{instancyTelephone}, '%')
			</if>
			<if test="sex != null">
				and sex LIKE CONCAT('%', #{sex}, '%')
			</if>
			<if test="birthday != null">
				and birthday LIKE CONCAT('%', #{birthday}, '%')
			</if>
			<if test="personnelType != null">
				and personnelType LIKE CONCAT('%', #{personnelType}, '%')
			</if>
			<if test="duty != null">
				and duty LIKE CONCAT('%', #{duty}, '%')
			</if>
			<if test="workDate != null">
				and workDate LIKE CONCAT('%', #{workDate}, '%')
			</if>
			<if test="highSchool != null">
				and highSchool LIKE CONCAT('%', #{highSchool}, '%')
			</if>
			<if test="finishSchool != null">
				and finishSchool LIKE CONCAT('%', #{finishSchool}, '%')
			</if>
			<if test="finishSchoolDate != null">
				and finishSchoolDate LIKE CONCAT('%', #{finishSchoolDate}, '%')
			</if>
			<if test="consortName != null">
				and finishSchool LIKE CONCAT('%', #{finishSchool}, '%')
			</if>
			<if test="youngoneName != null">
				and youngoneName LIKE CONCAT('%', #{youngoneName}, '%')
			</if>
			<if test="officeTelephone != null">
				and officeTelephone LIKE CONCAT('%', #{officeTelephone}, '%')
			</if>
			<if test="consortTelephone != null">
				and consortTelephone LIKE CONCAT('%', #{consortTelephone}, '%')
			</if>
			<if test="avocation != null">
				and avocation LIKE CONCAT('%', #{avocation}, '%')
			</if>
			<if test="consortCompany != null">
				and consortCompany LIKE CONCAT('%', #{consortCompany}, '%')
			</if>
			<if test="strongSuit != null">
				and strongSuit LIKE CONCAT('%', #{strongSuit}, '%')
			</if>
			<if test="communicate != null">
				and communicate LIKE CONCAT('%', #{communicate}, '%')
			</if>
			<if test="bringup != null">
				and bringup LIKE CONCAT('%', #{bringup}, '%')
			</if>
			<if test="organise != null">
				and organise LIKE CONCAT('%', #{organise}, '%')
			</if>
			<if test="analyse != null">
				and analyse LIKE CONCAT('%', #{analyse}, '%')
			</if>
			<if test="planing != null">
				and planing LIKE CONCAT('%', #{planing}, '%')
			</if>
			<if test="empolder != null">
				and empolder LIKE CONCAT('%', #{empolder}, '%')
			</if>
			<if test="relation != null">
				and relation LIKE CONCAT('%', #{relation}, '%')
			</if>
		</where>
	</select>
	
</mapper>